[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.*"
environs = {extras = ["django"], version = "*"}
psycopg2-binary = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-bootstrap-pagination = "*"
panda = "*"
pandas = "*"
sklearn = "*"
np = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.9"
