{% extends '_base.html' %}
{% load bootstrap_pagination %}
{% load custom_tags %}

{% block title %}Top Critics{% endblock title %}

{% block content %}

    <table class='table table-sm'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Percent Match</th>
                <th>Publisher</th>
                <th>Last Review</th>
            </tr>
        </thead>
        <tbody>
            {% for top_critic in top_critics %}
            <tr>
                <td><a href="{% url 'critic_detail' top_critic.critic.pk %}">{{ top_critic.critic.name }}</a></td>
                <td>
                    {{ top_critic.match }}
                </td>
                <td>{{ top_critic.critic.all_publishers }}</td>
                <td>{{ top_critic.critic.last_review }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" extra_pagination_classes="justify-content-center" %}
    
{% endblock content %}